<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--
				Use a content security policy to only allow loading images from https or from our extension directory,
				and only allow scripts that have a specific nonce.
				-->
    <meta http-equiv="Content-Security-Policy"
        content="default-src 'none'; img-src $csp; style-src $csp 'unsafe-inline'; script-src 'nonce-$nonce';">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/reset.css" rel="stylesheet" />
    <link href="~/css/vscode.css" rel="stylesheet" />
    <link href="~/css/test.css" rel="stylesheet" />
    <title>test</title>
</head>

<body>
    <div>salut</div>
    
</body>

</html>